{% extends 'jade/base.html' %}
{% load static %}
{% block content %}
    <section class="shop_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    {% if category %}{{ category.name }}{% else %} All Products{% endif %}
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <div class="text-center">
                        <h3>Categories</h3>
                        <ul style="list-style-type: none" class="p-1">
                            <li {% if not category %}class="bg-secondary"{% endif %}>
                                <a style="text-decoration: none;color: black"
                                   href="{% url "jade:product_list" %}">All</a>
                            </li>
                            {% for c in categories %}
                                <li {% if category.slug == c.slug %} class="bg-secondary"
                                {% endif %}>
                                    <a style="text-decoration: none;color:black"
                                       href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            <div class="col">
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="box">
                                <a href="{{ product.get_absolute_url }}">
                                    <div class="img-box">
                                        <img src="{{ product.product_image.all.0.image.url }}"
                                             alt="{{ product.product_image.all.0.image.url }}">
                                    </div>
                                    <div class="detail-box">
                                        <h6>
                                            {{ product.name }}
                                        </h6>
                                        <h6>
                                            Price
                                            <span>
                    ${{ product.price }}
                  </span>
                                        </h6>
                                    </div>
                                    <div class="new">
                <span>
                  New
                </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            </div>


        </div>
        </div>
    </section>
{% endblock content %}